.plain-block{
	font-size:40px;
	border-bottom:1px solid black;
}
.plain-block:nth-child(2){
	border-top:1px solid black;
}
.makeBlock{
  min-height: 25vh;
  padding:25px;
  background:whitesmoke;
}
.makeBlock input{
	border:1px solid black;
	background:transparent;
	font-size:40px;
	margin-left:40px;
}

::placeholder{
	color:black;
}
::-webkit-placeholder{

	color:black;
}