nav{
	font-size: 12px;
	margin:10px;
}

.node-wrapper{
	font-size:14px;
	display: inline-block;
	padding:20px;
	vertical-align: top;
	margin:25px;

}
.node-img, .node-text{
	width: 100%;
	max-width: 400px;
}
.node{
		border:1px solid black;
		padding:5px;

}
.node-tags{
	font-size:12px;
	display: inline-block;
}
.node-tag{
	display: inline-block;
	position:relative;
	top:-10px;
	background: yellow;
	padding:10px;
	margin:5px;
}